<h1>Tweet Away</h1>

  <form action='/tweets' method="post">
    <label for='content'>Speak your mind!</label>
    <br></br>
    <textarea type="text" name="tweet[content]" id="content" rows="5" cols="50"></textarea>
    </br></br>
    <input type='submit' name='submit' value='submit' id='submit'/>
  </form>
